fastapi
uvicorn[standard]
sqlalchemy
psycopg[binary]
python-dotenv
slack-bolt
sentence-transformers
requests
win11toast
pydantic-settings
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
